<%- include('partials/header') %>
<h2>Welcome to Pokémon Plant Care!</h2>
<p>Take care of your houseplants, Pokémon style!</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ68jxiyVji63Ty1TH8N2Y5lzlIYhJPJzDMw&s">
<%- include('partials/footer') %>
